import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*

def domain = Domain.global()
def credentialsStore = Jenkins.instance.getExtensionList(
    'com.cloudbees.plugins.credentials.SystemCredentialsProvider'
)[0].getStore()

// Parámetros para la credencial
def credentialsId = "ec2-ssh-key"
def username = "ubuntu"
def privateKey = """-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAsvdaeRblHsupbVEi9C3Fe0yj1o0ndxwPR+B+WzP3OSSoFEZq
3QN2VASFxgZeDAYnb9p2ieRvsWwcRiqDp6b7sJWMBE1zIOWagQv+6NpdOrJHHUBv
yCLB8fB4BLHtW6SdfzhJpvuUfQYImFy+SI0y1Ghe/0LB0ZbA1b/XP7fU49w8mARy
H0ITOeAHYnuYwY3cJUseW2F2OCNU68Rjy171OQ/Eit9aVFOEvNvb7Ze2A30uhR7T
ziQXIaUmo6tZPJMaZJBcNW6AUHDzw2OS3kyno8+wcfyMoBnomTVV4i+kVk8stB8j
1bMsBvd19AbcbsyFw6Ytu1cAmc17IN9RPgfDzwIDAQABAoIBADV6tQ56SP1q3rZM
CKXvB5RQ0qTKiYCOYgKYkymt3bK1wYRNhqGE51c0AsWqIXB2ZlKGdeW+3aGnLMvK
6Iyw2YVrKuweOMkb04+8hfAPUMy5eYbEOqMTv+EMetDsWoGIL4hUya2cgELcCrV9
AV+s0gOnLLwattBqvDUjnq7rwDJWnVmNddaRfmeoaBd2P5LlZeOuU5higfr4wN2/
CqsBteAc+KhKa+BQ05GO3nAQ4prZrtQ7pV03mY8ckalil0mG0ywmcj+MSOStx4Nj
QVnXEqDzS9qzBqfNO1NUB1A/oO0rcd3tu/2yXzqqT6i3Dkd0h5H4d3BbolwnWW6J
qKJjnAECgYEA6bDWAIU3+VThjBQig/GWq7wfI9N/9zvXME10Gbf5x3EKAMZ3y3U8
v9GMxTgpg5bjlP7tfKkWDO8gQzColwYW//uP21zeK/x6Co68L5mCVhlVIHJ7eCmZ
eFXtZzfbjuIgGl7iWT51r6Kt9g5wZXaAkxEGwKl+COpTeae28+zbY80CgYEAxA0b
ADCIJ16hab04Jxkaa7Da8T2NfcN6NeSW30caSp7IXng7yoxO+tlKRz7Z392W9p+S
eEima/3xN94/0l4/fiLPlUOq/YSb+vfcCB38xRifn7Xl32gE/7uNBZ2wTcHTefLx
KI8azqBlzyAP479e/lM/7jWScsXwGkkDQEv+YgsCgYBK15yiDAhSLPITR7uKIExN
8fDTK4BXMO4JBTVCq14ulrBKcUWafpCXKkh4PTVmdGOsqzxp6UkrmUXu3t2PiJ7D
GtEGwyZQVgrL6MyyPeq1ImXV/3Q1lrUVCgf/P69sglUfvPWm+U79kg8+t38dr6cb
8p8EAwRfXJShaKo6UsgsnQKBgG+/uKBHCZTHT+JhxNwkZvbzfBj+KOSCw+psPcNP
WCEomLWgexRdHbfGm5w4qx/7ws0Y7/g4EQSFXzWlLWPP7QkM9p3yUEjpia9oELdf
wHDoNDRpDnplZFQQp7WHyLLJxK1CWUvxJiqZKu8BK415y7/T3CD/0FYzlUSmUYAY
0Qs5AoGAaukt0FzKKYitlO9mEym/qo5x+7sOZ/1NP1Qi1YQJS4j5Y5x7lqw5zHsa
xcx8AIkBsj+iDwpHqxyp5OqzsV/4/cT5BEQ7IvEWg4+cGTX6xpoXZQU3eHEvekoi
0SmGciXgr4G0fWde3ZokVKzMKG3ALqF5JsdBcYyGhAomAF6hwNI=
-----END RSA PRIVATE KEY-----
"""

def credentials = new BasicSSHUserPrivateKey(
    CredentialsScope.GLOBAL,
    credentialsId,
    username,
    new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource(privateKey),
    "",
    "Credencial creada automáticamente"
)

// Verificar si ya existe
def existing = credentialsStore.getCredentials(domain).find { it.id == credentialsId }
if (existing == null) {
    println("Creando credencial SSH con id '${credentialsId}'")
    credentialsStore.addCredentials(domain, credentials)
} else {
    println("Credencial SSH con id '${credentialsId}' ya existe")
}

